# Dependencies & Build
node_modules
dist
build

# Environment & Logs
.env
.env.*
npm-debug.log*
yarn-error.log*

# Development
.vscode
.idea
*.swp
*.swo
*.DS_Store
coverage
.git
.gitignore

# Misc
storage
README.md
LICENSE
.eslintrc*
.prettierrc*
vite.config.ts
vitest.config.ts
